<%- include('partials/header') %>

<section>
  <h1><%= pageTitle %></h1>
  <ul>
    <li>Weekend Park Cleanup</li>
    <li>Winter Coat Drive</li>
    <li>Tutoring for Local Schools</li>
  </ul>
</section>

<%- include('partials/footer') %>